*{
    margin:0;
}
body{
	background: #373e47 url("img/bg.jpg") repeat;
	font-family: Arial;
	color: #e4e4e4;
	text-shadow: 0 1px 0 rgba(0,0,0,0.75);
}
.wrapper{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 100%;
}
/*Head*/
.nav li {
    display: inline-block;
}
.nav a{
        text-decoration: none;
}
.nav {
  list-style: none;
  float: right;
}
ul.nav {
	margin: 0;
	padding: 3px 0 0 0;
	overflow: hidden;
	float: right;
}

ul.nav li {
	float: left;
	list-style: none;
	padding: 0;
}

ul.nav li a {
	font-size: px;
	font-weight: bold;
	color: white;
	text-decoration: none;
	display: block;
	color: #143567;
	text-shadow: 0 1px 0 white;
}
h1+p,h2+p,h3+p {
	margin-top: 3px;
}
.header-container {
    background-color: #f2f2f2;
    background-repeat: no-repeat;
    box-shadow: 0 3px 2px rgba(0,0,0,0.3);
    border-radius: 0 0 4px 4px;
    background-image: -ms-linear-gradient(top, #f2f2f2, #e4e4e4);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f2f2f2), to(#e4e4e4));
    background-image: -webkit-linear-gradient(top, #f2f2f2, #e4e4e4);
    background-image: -o-linear-gradient(top, #f2f2f2, #e4e4e4);
    background-image: linear-gradient(top, #f2f2f2, #e4e4e4);
    background-image: -moz-linear-gradient(top, #f2f2f2, #e4e4e4);
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#f2f2f2', endColorstr='#e4e4e4', GradientType=0);
}
.header-container:after {
  content: "";
  display: table;
  clear: both;
}
/*LOGO*/
.logo {
	display: inline-block;
	float: left;
	font-weight: bold;
}
.logo a:hover .pink {
	color: #373e47;
}
.logo a {
	text-decoration: none;
	text-shadow: 0 1px 0 white;
	color: #373e47;
}

/**COLOURS**/
.pink {
	color: #a45f93;
}
.gray {
	color: #8b95a4;
}
.logo a:hover {
	color: #a45f93;
}
ul.nav li a.active {
	color: #a45f93;
}

ul.nav li a:hover {
	color: #a45f93;
}
.no-active{
    color: gray;
}
/**BODY**/
article{
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #67707d;
	background-color: #475363;
	background-color: rgba(87,103,127,0.5);
    overflow: hidden;
}
.bottomsite{
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #67707d;
	background-color: #475363;
	background-color: rgba(87,103,127,0.5);
    overflow: hidden;
}

/**NEED TO CORRECT**/
/*LeftPart*/
h2{
    margin-top: 5px;
    margin-bottom: 12px;
    font-size: 36px;
}
.LeftPart{
    float:left;
    margin-right: 10px;
}
.LeftPart {
	overflow: hidden;
}
/*Images*/
hr{
    margin-bottom: 10px;
}
.LeftPart img {
	border: 10px solid #697689;
	-webkit-transition: all linear 0.2s;
	-moz-transition: all linear 0.2s;
	-ms-transition: all linear 0.2s;
	-o-transition: all linear 0.2s;
	transition: all linear 0.2s;
    width: 200px;
}
.LeftPart img:hover {
	border: 10px solid #a45f93;
    height: 300px;
    width: 200px;
}
.ImageBlock{
    position: relative;
    margin-top:27px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
}
.block{
    height: 460px;
    width: 220px;
    float:left;
    padding: 0 16px;
    border: 1px solid rgba(0,0,0,0);
}
.name{
    text-align: center;
}
.imageabout{
    /*border: 1px solid rgba(0,0,0,1);*/
    margin-top: 10px;
    padding: 1px;
}
.imageabout li{
    font-size: 16px;
	color: white;
	display: block;
    margin: 5px 0px;
}
.open{
   text-align: right;
}
/*RightPart*/
a {
	color: #ff8de3;
	text-decoration: underline;
}
.RightPart h4{
    margin-top:-2px; 
    margin-bottom:2px; 
}
ol.RightList {
	margin: 0 0 20px 0;
    list-style: none;
	padding: 0;
	background-color: #373e47;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	box-shadow: 0 1px 0 rgba(255,255,255,0.3), inset 0 2px 1px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.3), inset 0 2px 1px rgba(0,0,0,0.3);
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,0.3), inset 0 2px 1px rgba(0,0,0,0.3);
}
ol.RightList li a {
	color: #e4e4e4;
	text-decoration: none;
	padding: 8px 10px 8px 10px;
	display: block;
	border-top: 1px solid #4c545e;
}

ol.RightList li:first-child a {
	border-top: none;
}

ol.RightList li a:hover {
	background-color: #292e35;
}

ol.RightList li:first-child a {
	border-radius: 3px 3px 0 0;
	-webkit-border-radius: 3px 3px 0 0;
	-moz-border-radius: 3px 3px 0 0;
}

ol.RightList li:last-child a {
	border-radius: 0 0 3px 3px;
	-webkit-border-radius: 0 0 3px 3px;
	-moz-border-radius: 0 0 3px 3px;
}


.RightWords {
	margin: 0 0 20px 0;
	background-color: #373e47;
	border-radius: 3px;
	box-shadow: 0 1px 0 rgba(255,255,255,0.3), inset 0 2px 1px rgba(0,0,0,0.3);
}

.RightWords>h3 {
	padding: 8px 10px 0;
}

.RightWords p {
	margin: 0;
	padding: 10px 10px 0;
}

.RightWords a.more {
	padding-bottom: 10px;
	display: block;
}
/*Таблица*/
table.LastUpdate {
    line-height: 36px;
	margin-top:10px;
    margin-left:0.8%;
	padding: 0;
	border-collapse: separate;
	*border-collapse: collapse;
	border: 1px solid #292e35;
	width: 98.2%;
	background-color: #373e47;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-spacing: 0;
}

table.LastUpdate th, table.LastUpdate td {
	padding: 5px;
	vertical-align: top;
	border-left: 1px solid #4c545e;
}

table.LastUpdate td {
	border-top: 1px solid #4c545e;
}

table.LastUpdate thead tr th:first-child,
table.LastUpdate tbody tr td:first-child {
	border-left: none;
}

table.LastUpdate th {
	background-color: #292e35;
	text-align: left;
	font-weight: bold;
	color: white;
}

table.LastUpdate tbody tr:hover {
	background-color: #2e333b;
}

table.LastUpdate thead tr:first-child th:first-child {
	border-radius: 3px 0 0 0;
	-webkit-border-radius: 3px 0 0 0;
	-moz-border-radius: 3px 0 0 0;
}

table.LastUpdate thead:first-child th:last-child {
	border-radius: 0 3px 0 0;
	-webkit-border-radius: 0 3px 0 0;
	-moz-border-radius: 0 3px 0 0;
}

table.LastUpdate tbody tr:last-child td:first-child {
	border-radius: 0 0 0 3px;
	-webkit-border-radius: 0 0 0 3px;
	-moz-border-radius: 0 0 0 3px;
}

table.LastUpdate tbody tr:last-child td:last-child {
	border-radius: 0 0 3px 0;
	-webkit-border-radius: 0 0 3px 0;
	-moz-border-radius: 0 0 3px 0;
}
table.LastUpdate a{
    color: #e4e4e4;
    text-decoration: none;
}
/*BOTTOM SITE*/
.bottomsite{
    float:left;
    width: 100%;
}
.bottomsite h2{
    line-height: 36px;
}
/*ARTICLE*/
footer{
    padding: 10px;
    height: 50px;
}
.footer{
    padding: 0px;
}
.footer p {
	text-align: center;
}
/*NEWS*/
.news{
    height: 600px;
}
/*AUTORIZATION*/
.autorization{
    text-align: center;
}
.article1{
    background-color:white;
    width: 600px;
    height: 600px;
    float: none;
    margin-left: auto;
    margin-right: auto;
}
/*LEFT PART*/
.book{
    background-color: #323E47;
    height: 253px;
    width:1000px;
    margin-left: 15px;
    margin-top: 10px;
    border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	box-shadow: 0 1px 0 rgba(255,255,255,0.3), inset 0 2px 1px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.3), inset 0 2px 1px rgba(0,0,0,0.3);
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,0.3), inset 0 2px 1px rgba(0,0,0,0.3);
}
.leftpart{
    float:left;
    width: 1016px;
}
/*RIGHT BOOK*/
.rightbook{
    padding: 8px;
}
.book img{
    height: 240px;
    float: left;
    padding: 7px;
    margin-right: 3px;
}
/*LEFT BOOK*/
.leftpart h3{
    font-size:28px;
}
.title{
    line-height: 28px;
}
.description{
    width: 985px;
    height: 180px;
    word-wrap: break-word;
}
.chapters a{
    float: right;
}
/*RIGHT PART*/
.rightpart{
    float:right;
    margin-top: 26px;
    width: 289px;
}
.rightpart h4{
    margin-bottom: 3px;
}
}