@media screen and (min-width:1350px){
    .gray{
        font-size: 18px;
    }
    .header-container{
            padding: 20px;
    }
    ul.nav li a {
	padding: 0 30px;
    }
    p {
	margin-bottom: 10px;
    }
    body{
    line-height: 18px;
    font-size: 16px;
    }
    ul{
    list-style: none;
    margin: 0;
    padding-left: 0;
    font-size: 19px;
    }
    .wrapper{
    max-width: 1350px;
    max-height: 2000px;
    }
    .nav{
        
    }
    .logo a {
	font-size: 48px;
	padding-left: 10px;
    }
    .margin{
        height: 18px;
        width: 100%;
    }
    .ImageBlock{
        height: 460px;
        width: 1016px;
    }
    .RightPart{
    float:right;
    margin-right: 10px;
    width: 279px;
    margin-top:28px;
}
}






@media screen and (min-width:1200px) and (max-width:1350px){
    .gray{
        font-size: 18px;
    }
    .header-container{
            padding: 20px;
    }
    ul.nav li a {
	padding: 0 20px;
    }
    p {
	margin-bottom: 10px;
    }
    body{
    line-height: 18px;
    font-size: 16px;
    }
    ul{
    list-style: none;
    margin: 0;
    padding-left: 0;
    font-size: 19px;
    }
    .wrapper{
    max-width: 1350px;
    max-height: 2000px;
    }
    .nav{
        
    }
    .logo a {
	font-size: 48px;
	padding-left: 10px;
    }
    .margin{
        height: 18px;
        width: 100%;
    }
    .ImageBlock{
        height: 460px;
        width: 900px;
        overflow: hidden;
    }
    .RightPart{
    float:right;
    margin-right: 10px;
    width: 279px;
    margin-top:28px;
}
    .imgblocks{
        margin-left: 65px;
    }
}










@media screen and (min-width:992px) and (max-width:1200px){
    ul.nav li a {
	padding: 0 15px;
    }
    p {
	margin-bottom: 10px;
    }
    body{
    line-height: 18px;
    font-size: 16px;
    }
    ul{
    list-style: none;
    margin: 0;
    padding-left: 0;
    font-size: 16px;
    }

    .logo a {
	font-size: 34px;
	padding-left: 10px;
    }
    .margin{
        height: 14px;
        width: 100%;
    }
    .wrapper{
        max-width: 992px;
        max-height: 2000px;
    }
    .header-container{
        padding: 25px;
     }
    .gray{
        font-size: 18px;
    }
    .RightPart{
        
    }
        .ImageBlock{
        height: 460px;
        width: 970px;
        overflow: hidden;
    }
    .block{
        width: 175px;
            margin-left:22px;
    }
        h2{
        font-size: 34px;
    }
    .LeftPart img{
        width: 175px;
    }
        .LeftPart img:hover{
        width: 175px;
            height: auto;
    }
    .RightPart{
        display: none;
    }
}










@media screen and (min-width:768px) and (max-width:992px){
    h2{
        font-size: 36px;
    }
    ul.nav li a {
	padding: 0 15px;
    }
    p {
	margin-bottom: 10px;
    }
    body{
    line-height: 18px;
    font-size: 16px;
    }
    ul{
    list-style: none;
    margin: 0;
    padding-left: 0;
    font-size: 16px;
    }

    .logo a {
	font-size: 34px;
	padding-left: 10px;
    }
    .margin{
        height: 14px;
        width: 100%;
    }
    .wrapper{
        max-width: 768px;
        max-height: 2000px;
    }
    .header-container{
        padding: 25px;
     }
    .gray{
        font-size: 18px;
    }
    .RightPart{
        
    }
        .ImageBlock{
        height: 460px;
        width: 763px;
        overflow: hidden;
    }
    .RightPart{
    float:right;
    margin-right: 10px;
    width: 180px;
    margin-top:28px;
        font-size: 16px;
}
}








@media screen and (min-width:360px) and (max-width:768px){
    ul.nav li a {
	padding: 0 15px;
    }
    p {
	margin-bottom: 10px;
    }
    body{
    line-height: 18px;
    font-size: 16px;
    }
    ul{
    list-style: none;
    margin: 0;
    padding-left: 0;
    font-size: 16px;
    }

    .logo a {
	font-size: 34px;
	padding-left: 10px;
    }
    .margin{
        height: 14px;
        width: 100%;
    }
    .wrapper{
        max-width: 360px;
        max-height: 2000px;
    }
    .header-container{
        padding: 25px;
     }
    .gray{
        font-size: 18px;
    }
    .RightPart{
        
    }
        .ImageBlock{
        height: 460px;
        width: 763px;
        overflow: hidden;
    }
    .RightPart{
    float:right;
    margin-right: 10px;
    width: 180px;
    margin-top:28px;
        font-size: 16px;
}   
    
    }
}
    
    
    
    
    
    
    
    
    
    
    
@media screen and (min-width:320px) and (max-width:360px){
       .wrapper{
        max-width: 320px;
        max-height: 2000px;    
    }